*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Press Start 2P', sans-serif;
    cursor: pointer;
}

body {
    background-image: url("https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1970&q=80");
    color: #fff;
    font-family: 'Press Start 2P', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

#ship-name {
    height: 30px;
    font-size: 15px;
    font-family: 'Press Start 2P', sans-serif;
}

.start-button:hover {
    background-color: red;
}

.alien-section {
    display: none;
    flex-direction: column;
    align-content: space-around;
    padding: 20px 0;
}

.alien-ships-div {
    display: flex;
    justify-content: space-evenly;
}

.fa-meteor {
    color: orange;
    font-size: 50px;
}

.fa-meteor:hover {
    cursor: pointer;
}

.destroyed {
    color: gray;
}

.game-message {
    display: none;
    margin: 20px 0;
    width: 1500px;
    height: 100px;
    text-align: center;
    line-height: 50px;
}

.player-section {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    font-size: 20px;
    width: 1500px;
    height: 315px;
    background-color: #fff;
    opacity: .6;
    color: black;
    border-radius: 5px;
    padding: 0 20px;
}

.player-controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ship-name {
    margin-bottom: 20px;
}

.shield-text {
    padding: 10px;
}

.stats {
    margin: 10px 30px;
    line-height: 30px;
}

.missile-button {
    font-size: 20px;
    border: 4px solid black;
}

.missile-button:hover {
    background-color: red;
}

.retreat {
    width: 200px;
    border: 4px solid black;
    align-self: center;
    opacity: 0;
    cursor: default;
}

.retreat:hover {
    background-color: red;
}

[data-state="attacking"] {
    color: red;
}

[data-state="selected"] {
    background-color: red;
}